@charset "utf-8";
/* CSS Document */

.clearFix:after{
	clear:both;
	height:0;
	line-height:0;
	visibility:hidden;
	content:"";
	display:block;
}

.clearFix{ zoom:1;}

body{background:#FFF url(../images/bg.jpg) repeat;}


.header{width:100%; border:none; position:fixed; left:0px; top:0px; z-index:2;}

.thead{height:36px; background:#08A0C0; padding-top:28px; -webkit-box-shadow: 2px 2px 5px #ccc; -moz-box-shadow: 2px 2px 5px #ccc;box-shadow: 2px 2px 5px #ccc;}
.thead a.tool{display:block; width:30px; height:30px; text-align:center;}
.thead a.btmenu{float:left; padding-top:4px; height:26px;}
.thead a.btuser{float:right;}
.thead h1{width:100%; text-align:center; padding:0; padding-top:4px; margin:0;}

#nav{height:33px;}
div.content{padding-top:90px;}
#slider{height:176px;}

.data-list {
	width: 100%;
	text-align: left;
}

.data-list li {
	color: #333;
	border-bottom: 1px solid #2a2c30;
	background-color: #1f2023;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 10px 10px 90px;
	display: block;
	position: relative;
}

.data-list li.ui-list-hover {
	background: #ededed;
}

.data-list li a {
	text-decoration: none;
}

.data-list li dt {
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	padding-top: 10px;
	color: #98a0ac;
}

.data-list li dt:first-child {
	padding-top: 0;
}

.data-list li dd.content {
	font-size: 12px;
	color: #727c89;
	line-height: 16px;
	margin-top: 8px;
	font-weight:normal;
}

.data-list li dd.source {
	font-size: 12px;
	color: #727c89;
	position:absolute;
	font-weight:normal;
	right:10px;
	bottom:10px;
}

.data-list img {
	position: absolute;
	left: 10px;
	top: 50%;
	width: 70px;
	margin-top: -26px;
}

.panel{
	width:224px;
}

.panel ul.panel-dir{
	padding:0px;
	padding-top:40px;		
}
.panel ul.panel-dir li{height:60px;}
.panel ul.panel-dir li a{height:60px; display:block; line-height:60px; color:#FFF; text-decoration:none; padding-left:50px;}
.panel ul.panel-dir li a img{float:left; padding-right:20px; padding-top:14px;}
.panel ul.panel-dir li a span{height:60px; display:block; float:left; line-height:60px; font-weight:bold;}
.panel ul.panel-dir li a:hover{background:#036; opacity:0.5;}




